* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #232d39;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: #232d39;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #fff;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #fff;
  border-radius: 50%;
}

#scroll-percentage {
  position: fixed;
  bottom: 0;
  left: 0x;
  width: 100vw;
  color: #000;
  margin: 0;
  padding: 0;
  z-index: 1000;
}

#scroll-percentage .percentage {
  display: inline-block;
  background-color: #00000000;
  border-bottom: 4px solid #0099ff;
  height: 4px;
  width: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.section1,
.market,
.uslugi {
  background: url(../img/bg.png) 50% 50% / cover;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  position: relative;
}

body .section1 {
  padding: 50px 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

body .section1 .container .header1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 70px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

body .section1 .container .header1 .menu1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

body .section1 .container .header1 .menu1 ul {
  padding: 0 !important;
  margin-left: 30px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

body .section1 .container .header1 .menu1 ul li {
  list-style-type: none;
}

body .section1 .container .header1 .menu1 ul li a {
  color: white;
  font-family: "Gilroy";
  font-size: 20px;
  text-decoration: none !important;
}

body .section1 .container .header1 .menu1 ul li a::after {
  width: 0;
  content: "";
  display: block;
  height: 2px;
  background: #ffffff;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

body .section1 .container .header1 .menu1 ul li a:hover::after {
  width: 100%;
}

body .section1 .container .header1 .phone_menu {
  width: 130px;
  height: 40px;
  background: rgba(255, 255, 255, 0.075);
  border-radius: 10px;
  padding: 0 20px;
  display: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none !important;
}

body .section1 .container .header1 .phone_menu h5 {
  color: #ffffff;
  font-family: "Gilroy";
  text-transform: uppercase;
  font-size: 18px;
  margin-right: 10px;
}

body .section1 .container .header1 .phone_menu .menu_ico {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

body .section1 .container .header1 .phone_menu .menu_ico div {
  margin-top: 1px;
  margin-bottom: 1px;
  width: 20px;
  height: 4px;
  border-radius: 10px;
  background: #ffffff;
}

body .section1 .container .header1 .menu2 {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  top: 100px;
  left: 50%;
  margin-left: -200px;
  background: #000;
}

body .section1 .container .header1 .menu2 a {
  text-decoration: none !important;
}

body .section1 .container .header1 .menu2 ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  margin-bottom: 0px;
  border-bottom: 5px black solid;
  width: 400px;
  background: rgba(187, 187, 187, 0.15);
}

body .section1 .container .header1 .menu2 ul li {
  list-style-type: none;
}

body .section1 .container .header1 .menu2 ul li h5 {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 18px;
}

@font-face {
  font-family: 'Rubik One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/rubikone/v12/0nkqC9H5Je0aiyQv-6PIbCTq.ttf) format('truetype');
}

.main_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 68px;
  -webkit-flex-wrap: wrap !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.main_text .main_h1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main_text .main_h1 h1 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 95px;
  background: -webkit-gradient(linear, left top, left bottom, from(#00FFA3), to(white));
  background: -o-linear-gradient(top, #00FFA3, white);
  background: linear-gradient(180deg, #00FFA3, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main_text .main_h1 h2 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #33C1FF;
  margin-bottom: 45px;
}

.main_text .main_h1 h3 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #FFFFFF;
  margin-bottom: 45px;
}

.main_text .main_h1 a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  font-family: Gilroy;
  width: 300px;
  height: 60px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.main_text .main_h1 a:hover {
  background: rgba(255, 255, 255);
  color: black;
}

.main_text .main_img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.agency_text {
  margin-bottom: 65px;
}

.agency_text h4 {
  font-size: 30px;
  font-family: Gilroy;
  color: #33C1FF;
}

.uslugi_tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.uslugi_tags .tags_text h4 {
  font-size: 30px;
  font-family: Gilroy;
  color: #ffffff;
  margin-bottom: 15px;
  text-align: center;
}

.uslugi_tags .tags_text .tags_line {
  width: 100%;
  height: 4px;
  background: #33C1FF;
}

.uslugi_tags .tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.uslugi_tags .tags .tag {
  margin: 5px;
  width: 200px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.uslugi_tags .tags .tag:hover {
  background: #ffffff;
  color: black;
}

.result {
  padding: 50px 0;
}

.result .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.result .container .result_text h2 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 33px;
  color: black;
}

.result .container .result_text p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #545454;
  margin-bottom: 50px;
}

.result .container .result_text a {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-decoration: none;
  width: 300px;
  height: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: black;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.result .container .result_text a:hover {
  color: white;
  background: #000;
}

.result .container .resul_img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.uslugi {
  padding: 50px 0;
}

.uslugi .container h3 {
  text-align: center;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: white;
  margin-bottom: 50px;
}

.uslugi .container .uslugi_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.uslugi .container .uslugi_div .usluga {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 500px;
  width: 270px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  margin: 15px;
  color: white;
}

.uslugi .container .uslugi_div .usluga .usluga_div {
  padding: 0px 35px 20px 35px;
}

.uslugi .container .uslugi_div .usluga .usluga_div h4 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.uslugi .container .uslugi_div .usluga .usluga_div p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-weight: 400;
  font-size: 12px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-bottom: 35px;
  height: 145px;
}

.uslugi .container .uslugi_div .usluga .usluga_div div {
  width: 100%;
}

.uslugi .container .uslugi_div .usluga .usluga_div a {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  text-decoration: none;
  background: #000;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  border-radius: 3px;
}

.uslugi .container .uslugi_div .usluga .usluga_div a:nth-of-type(1) {
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
}

.uslugi .container .uslugi_div .usluga .usluga_div a:nth-of-type(2) {
  background: rgba(255, 255, 255, 0.3);
}

.uslugi .container .uslugi_div .usluga img {
  width: 100%;
  border-radius: 3px;
  height: 150px;
  margin-bottom: 10px;
}

.last {
  padding: 50px 0;
}

.last .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.last .container h3 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  color: #000;
  margin-bottom: 15px;
}

.last .container .last_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.last .container .last_div .last_text {
  margin: 15px;
  width: 370px;
  height: 180px;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 21px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.last .container .last_div .last_text h4 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.last .container .last_div .last_text p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #676767;
}

.last .container .last_div .last_text a {
  width: 120px;
  height: 30px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #000;
  border-radius: 3px;
  text-decoration: none;
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.last .container a {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-decoration: none;
  width: 300px;
  height: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: black;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin-top: 15px;
}

.last .container a:hover {
  color: white;
  background: #000;
}

.market {
  padding: 50px 0;
}

.market .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.market .container .result_text h2 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 33px;
  color: #ffffff;
}

.market .container .result_text p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #b6b6b6;
  margin-bottom: 20px;
}

.market .container .resul_img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form {
  background: #ffffff;
  padding: 50px;
}

.form .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form .container h3 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}

.form .container p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #575757;
  margin-bottom: 40px;
}

.form .container .form_div {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form .container .form_div .form_text {
  margin-right: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form .container .form_div .form_text h4 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  margin-bottom: 33px;
}

.form .container .form_div .form_text p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.form .container .form_div .form_input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form .container .form_div .form_input form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form .container .form_div .form_input form input {
  width: 470px;
  height: 60px;
  border: 1px solid #C7C7C7;
  border-radius: 3px;
  padding: 20px 21px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 20px;
}

.form .container .form_div .form_input form input::-webkit-input-placeholder {
  color: #A5A5A5 !important;
}

.form .container .form_div .form_input form input::-moz-placeholder {
  color: #A5A5A5 !important;
}

.form .container .form_div .form_input form input:-ms-input-placeholder {
  color: #A5A5A5 !important;
}

.form .container .form_div .form_input form input::-ms-input-placeholder {
  color: #A5A5A5 !important;
}

.form .container .form_div .form_input form input::placeholder {
  color: #A5A5A5 !important;
}

.form .container .form_div .form_input form button {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-decoration: none;
  width: 300px;
  height: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: black;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin-top: 15px;
  border: none;
  outline: none;
}

.form .container .form_div .form_input form button:hover {
  color: white;
  background: #000;
}

@media (max-width: 600px) {
  .form {
    background: #ffffff;
    padding: 50px;
  }

  .form .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form .container h3 {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
  }

  .form .container p {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #575757;
    margin-bottom: 40px;
  }

  .form .container .form_div {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form .container .form_div .form_text {
    margin-right: 0px;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form .container .form_div .form_text h4 {
    text-align: center;
  }

  .form .container .form_div .form_text p {
    text-align: center;
  }

  .form .container .form_div .form_input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .form .container .form_div .form_input form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form .container .form_div .form_input form input {
    width: 300px;
  }

  .last {
    padding: 30px 0;
  }

  .last h3 {
    font-size: 25px !important;
  }

  .uslugi {
    padding: 30px 0;
  }

  .uslugi .container .uslugi_div .usluga {
    height: 500px;
    width: 300px;
  }

  .uslugi .container .uslugi_div .usluga .usluga_div div {
    width: 100%;
  }

  .uslugi .container .uslugi_div .usluga .usluga_div a {
    width: 100%;
  }

  .uslugi {
    padding: 30px 0;
  }

  .uslugi .container h3 {
    margin-bottom: 30px !important;
    font-size: 25px;
  }

  .result {
    padding: 30px 0 !important;
  }

  .result .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  .result .container .result_text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .result .container .result_text h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
  }

  .result .container .result_text p {
    font-size: 20px;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 30px;
  }

  .result .container .resul_img img {
    width: 230px;
    height: 250px;
  }

  .market {
    padding: 30px 0 !important;
  }

  .market .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  .market .container .result_text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .market .container .result_text h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
  }

  .market .container .result_text p {
    font-size: 20px;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 15px !important;
  }

  .market .container .resul_img img {
    width: 230px;
    height: 250px;
  }

  .uslugi_tags .tags_text {
    margin-bottom: 15px;
  }

  .uslugi_tags .tags_text h4 {
    font-size: 25px;
  }

  .uslugi_tags .tags_text .tags_line {
    height: 2px;
    width: 50% !important;
    margin: auto;
  }

  .uslugi_tags .tags .tag {
    width: 150px;
    height: 40px;
    font-size: 13px;
  }

  .menu2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .menu1 {
    display: none !important;
  }

  .phone_menu {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  body .header1 {
    -webkit-justify-content: space-around !important;
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }

  .header1 {
    margin-bottom: 0px !important;
  }

  .main_text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    -webkit-flex-wrap: wrap !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }

  .main_text .main_h1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 70px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }

  .main_text .main_h1 h1 {
    text-align: center;
    font-size: 55px;
    margin-bottom: 10px;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .main_text .main_h1 h2 {
    text-align: center;
    font-size: 23px;
    margin-bottom: 30px;
    height: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .main_text .main_h1 h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .main_text .main_h1 a {
    width: 250px;
    height: 50px;
    font-size: 20px;
  }

  .main_text .main_img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .main_text .main_img img {
    width: 300px;
    height: 300px;
  }

  .agency_text h4 {
    text-align: center;
    font-size: 23px !important;
  }

  .section1 {
    padding: 30px 0 !important;
  }
}