{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="theme-color" content="#1e1043"> -->
    <meta name="theme-color" content="#201F1F">
    <meta name="msapplication-navbutton-color" content="#201F1F">
    <meta name="apple-mobile-web-app-status-bar-style" content="#201F1F">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="QIBRAy, Санаторий">
    <link rel="shortcut icon" href="{% static 'images/Logo.png' %}" />
    <title>Media Mind - digital agency</title>
    <!-- ===========CCЫЛКИ================= -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- ===========ШРИФТЫ================= -->

    <!-- ============================================== -->


    <link rel="stylesheet" href="{% static 'css/style-min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fonts.css' %}">

    <script defer src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script defer src="{% static 'js/script.js' %}"></script>

    <script src="{% static 'js/wow.min.js' %}"></script>
    <script>
        new WOW({
            mobile: false,       // default
        }).init();
    </script>
</head>

<body>
    <section class="section1 parallax-window" data-parallax="scroll" data-image-src="{% static 'images/bg.png' %}">
        <div class="container">
            <header class="header1">
                <div class="logo">
                    <img src="{% static 'images/Logo.png' %}" alt="">
                </div>
                <div class="menu1">
                    <ul>
                        <li>
                            <a href="#">Главная</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#">О нас</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#">Услуги</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#">Контакты</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="">+998 33 987 32 87</a>
                        </li>
                    </ul>
                </div>
                <div class="phone_menu">
                    <h5>Menu</h5>
                    <div class="menu_ico">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="menu2">
                    <a href="">
                        <ul>
                            <li>
                                <h5>Главная</h5>
                            </li>
                        </ul>
                    </a>
                    <a href="#">
                        <ul>
                            <li>
                                <h5>О нас</h5>
                            </li>
                        </ul>
                    </a>
                    <a href="#">
                        <ul>
                            <li>
                                <h5>Услуги</h5>
                            </li>
                        </ul>
                    </a>
                    <a href="#">
                        <ul>
                            <li>
                                <h5>Контакты</h5>
                            </li>
                        </ul>
                    </a>
                </div>
            </header>

            {% block content %}

            {% endblock content %}

        </div>
    </section>




    <!-- ============================================== -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>



</body>

</html>