{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main_text">
                <div class="main_h1 col-6">
                    <h1>Media Mind</h1>
                    <h2>Развивай свой бизнес с нами</h2>
                    <h3>Десятки успешно закрытых кейсов
                        развеят все ваши сомнения!</h3>
                    <a href="#">Свяжитесь с нами</a>
                </div>
                <div class="main_img col-6">
                    <img src="{% static 'images/Online_ads-amico.png' %}" alt="">
                </div>
            </div>
{% endblock content %}