{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main_text">
                <div class="main_h1 col-lg-6">
                    <h1>Media Mind</h1>
                    <h2>Развивай свой бизнес с нами</h2>
                    <h3>Десятки успешно закрытых кейсов
                        развеят все ваши сомнения!</h3>
                    <a href="#">Свяжитесь с нами</a>
                </div>
                <div class="main_img col-lg-6">
                    <img src="{% static 'images/Online_ads-amico.png' %}" alt="">
                </div>

            </div>
            <div class="agency_text">
                <h4>Агенство Интеренет Маркетинга в Ташкенте и по всему Узбекистану.</h4>
            </div>
            <div class="uslugi_tags">
                <div class="tags_text col-lg-5">
                    <h4>Предлагаем комплексные услуги
                        интернет маркетинга в Ташкенте.</h4>
                    <div class="tags_line"></div>
                </div>
                <div class="tags col-lg-7">
                    <a class="tag">SMM Продвижение</a>
                    <a class="tag">Интернет Реклама</a>
                    <a class="tag">Таргет. Реклама</a>
                    <a class="tag">SMM Продвижение</a>
                    <a class="tag">Интернет Реклама</a>
                    <a class="tag">Таргет. Реклама</a>
                    <a class="tag">SMM Продвижение</a>
                    <a class="tag">Интернет Реклама</a>
                    <a class="tag">Таргет. Реклама</a>
                </div>
            </div>
        </div>
    </section>
    <section class="result">
        <div class="container">
            <div class="result_text col-lg-6">
                <h2>С нами - результат
                    гарантирован</h2>
                <p>Каждому клиенту мы гарантируем окупаемость расходов
                    на маркетинг и реальные результаты от продвижения в виде
                    продаж, посещений, клиентов, увеличения продаж и популярности.</p>
                                <a href="#">Получить консультацию</a>
            </div>
            <div class="resul_img col-lg-6"><img src="img/Mobile Marketing-bro 1.png" alt=""></div>
        </div>
    </section>

    <section class="uslugi parallax-window" data-parallax="scroll" data-image-src="./img/bg.png">
        <div class="container">
            <h3>Мы предлагаем следующие услуги :</h3>
            <div class="uslugi_div">
                <!-- ЦИКЛ ОТСЮДА -->
                <div class="usluga">
                    <img src="img/Online gallery-amico 2.png" alt="">
                    <h4>Продвижение сайтов
                        в поискавиках</h4>
                    <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Снова
                        продолжил возвращайся раз текст деревни заманивший скатился ты семь, до, живет от всех. Ему
                        повстречался снова взобравшись власти что ручеек!
                    </p>
                    <div>
                        <a href="">Подробнее</a>
                        <a href="">Заказать</a>
                    </div>
                </div>
                <!-- ДО СЮДА -->
                <div class="usluga">
                    <img src="img/Online gallery-amico 2.png" alt="">
                    <h4>Продвижение сайтов
                        в поискавиках</h4>
                    <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Снова
                        продолжил возвращайся раз текст деревни заманивший скатился ты семь, до, живет от всех. Ему
                        повстречался снова взобравшись власти что ручеек!
                    </p>
                    <div>
                        <a href="">Подробнее</a>
                        <a href="">Заказать</a>
                    </div>
                </div>

                <div class="usluga">
                    <img src="img/Online gallery-amico 2.png" alt="">
                    <h4>Продвижение сайтов
                        в поискавиках</h4>
                    <p>Далеко-далеко за словесными горами в стране гласных
                        и согласных живут рыбные тексты. Снова продолжил возвращайся раз текст деревни заманивший
                        скатился ты семь, до, живет от всех. Ему повстречался снова взобравшись власти что ручеек!
                    </p>
                    <div>
                        <a href="">Подробнее</a>
                        <a href="">Заказать</a>
                    </div>
                </div>

                <div class="usluga">
                    <img src="img/Online gallery-amico 2.png" alt="">
                    <h4>Продвижение сайтов
                        в поискавиках</h4>
                    <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Снова
                        продолжил возвращайся раз текст деревни заманивший скатился ты семь, до, живет от всех. Ему
                        повстречался снова взобравшись власти что ручеек!
                    </p>
                    <div>
                        <a href="">Подробнее</a>
                        <a href="">Заказать</a>
                    </div>
                </div>

                <div class="usluga">
                    <img src="img/Online gallery-amico 2.png" alt="">
                    <h4>Продвижение сайтов
                        в поискавиках</h4>
                    <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Снова
                        продолжил возвращайся раз текст деревни заманивший скатился ты семь, до, живет от всех. Ему
                        повстречался снова взобравшись власти что ручеек!
                    </p>
                    <div>
                        <a href="">Подробнее</a>
                        <a href="">Заказать</a>
                    </div>
                </div>

                <div class="usluga">
                    <img src="img/Online gallery-amico 2.png" alt="">
                    <h4>Продвижение сайтов
                        в поискавиках</h4>
                    <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Снова
                        продолжил возвращайся раз текст деревни заманивший скатился ты семь, до, живет от всех. Ему
                        повстречался снова взобравшись власти что ручеек!
                    </p>
                    <div>
                        <a href="">Подробнее</a>
                        <a href="">Заказать</a>
                    </div>
                </div>
                <div class="usluga">
                    <img src="img/Online gallery-amico 2.png" alt="">
                    <h4>Продвижение сайтов
                        в поискавиках</h4>
                    <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Снова
                        продолжил возвращайся раз текст деревни заманивший скатился ты семь, до, живет от всех. Ему
                        повстречался снова взобравшись власти что ручеек!
                    </p>
                    <div>
                        <a href="">Подробнее</a>
                        <a href="">Заказать</a>
                    </div>
                </div>

                <div class="usluga">
                    <img src="img/Online gallery-amico 2.png" alt="">
                    <h4>Продвижение сайтов
                        в поискавиках</h4>
                    <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Снова
                        продолжил возвращайся раз текст деревни заманивший скатился ты семь, до, живет от всех. Ему
                        повстречался снова взобравшись власти что ручеек!
                    </p>
                    <div>
                        <a href="">Подробнее</a>
                        <a href="">Заказать</a>
                    </div>
                </div>

            </div>
        </div>
    </section>


{% endblock content %}