{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main_text">
                <div class="main_h1 col-lg-6">
                    <h1>Media Mind</h1>
                    <h2>Развивай свой бизнес с нами</h2>
                    <h3>Десятки успешно закрытых кейсов
                        развеят все ваши сомнения!</h3>
                    <a href="#">Свяжитесь с нами</a>
                </div>
                <div class="main_img col-lg-6">
                    <img src="{% static 'images/Online ads-amico 1.png' %}" alt="">
                </div>

            </div>
            <div class="agency_text">
                <h4>Агенство Интеренет Маркетинга в Ташкенте и по всему Узбекистану.</h4>
            </div>
            <div class="uslugi_tags">
                <div class="tags_text col-lg-5">
                    <h4>Предлагаем комплексные услуги
                        интернет маркетинга в Ташкенте.</h4>
                    <div class="tags_line"></div>
                </div>
                <div class="tags col-lg-7">
                    <a class="tag">SMM Продвижение</a>
                    <a class="tag">Интернет Реклама</a>
                    <a class="tag">Таргет. Реклама</a>
                    <a class="tag">SMM Продвижение</a>
                    <a class="tag">Интернет Реклама</a>
                    <a class="tag">Таргет. Реклама</a>
                    <a class="tag">SMM Продвижение</a>
                    <a class="tag">Интернет Реклама</a>
                    <a class="tag">Таргет. Реклама</a>
                </div>
            </div>
        </div>
    </section>
    <section class="result">
        <div class="container">
            <div class="result_text col-lg-6">
                <h2>С нами - результат
                    гарантирован</h2>
                <p>Каждому клиенту мы гарантируем окупаемость расходов
                    на маркетинг и реальные результаты от продвижения в виде
                    продаж, посещений, клиентов, увеличения продаж и популярности.</p>
                                <a href="#">Получить консультацию</a>
            </div>
            <div class="resul_img col-lg-6"><img src="{% static 'images/Mobile Marketing-bro 1.png' %}" alt=""></div>
        </div>
    </section>

    <section class="uslugi parallax-window" data-parallax="scroll" data-image-src="{% static 'images/bg.png' %}">
        <div class="container">
            <h3>Мы предлагаем следующие услуги :</h3>
            <div class="uslugi_div">
                <!-- ЦИКЛ ОТСЮДА -->
                {% for service in services %}
                <div class="usluga">
                    <img src="{% static 'images/SEO-rafiki 1.png' %}" alt="">
                    <div class="usluga_div">
                        <h4>Продвижение сайтов
                            в поискавиках</h4>
                        <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Снова
                            продолжил возвращайся раз текст деревни заманивший скатился ты семь, до, живет от всех. Ему
                            повстречался снова взобравшись власти что ручеек!
                        </p>
                        <div>
                            <a href="">Подробнее</a>
                            <a href="">Заказать</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- ДО СЮДА -->


            </div>
        </div>
    </section>
    <section class="last">
        <div class="container">

            <h3>Наши последние работы :</h3>

            <div class="last_div">
                <div class="last_text">
                    <h4>Магазин косметики</h4>
                    <p>Как мы повысили продажи сети магазинов
                        косметики в 90 раз за 3 года и увеличили
                        годовую выручку с 45 000$ до 2.5 миллиона $.</p>
                    <a href="#">Посмотреть</a>
                </div>
                <div class="last_text">
                    <h4>Магазин косметики</h4>
                    <p>Как мы повысили продажи сети магазинов
                        косметики в 90 раз за 3 года и увеличили
                        годовую выручку с 45 000$ до 2.5 миллиона $.</p>
                    <a href="#">Посмотреть</a>
                </div>
                <div class="last_text">
                    <h4>Магазин косметики</h4>
                    <p>Как мы повысили продажи сети магазинов
                        косметики в 90 раз за 3 года и увеличили
                        годовую выручку с 45 000$ до 2.5 миллиона $.</p>
                    <a href="#">Посмотреть</a>
                </div>

            </div>

            <a href="#">Смотреть еще</a>

        </div>
    </section>
    <section class="market parallax-window" data-parallax="scroll" data-image-src="./img/bg.png">
        <div class="container">
            <div class="result_text col-lg-6">
                <h2>Вы нашли маркетолога, который
                    начнет приносить вам прибыль!</h2>
                <p>До работы с нами, многие наши клиенты теряли сотни долларов
                    на рекламу в интернете и услуги псевдо маркетологов,
                    не получая от этого ощутимой отдачи.

                    С нами вам не придется волноваться за результативность
                    и окупаемость вложений в маркетинг, мы работали с самыми
                    разными отрослями B2B и B2C, на опытах наших клиентов
                    убедились в том, что с помощью интернет маркетинга можно
                    продавать любой тип продукции, продвигать любые виды
                    услуг и предложений.
                </p>
            </div>
            <div class="resul_img col-lg-6"><img src="{% static 'images/Sponsor-rafiki 1.png' %}" alt=""></div>
        </div>
    </section>

    <section class="form">

        <div class="container">

            <h3>Наши контакты:</h3>
            <p>Свяжитесь с нами сами или оставьте <br>
                свои контактные данные, чтобы мы <br>
                связались с вами сами.</p>

            <div class="form_div">

                <div class="form_text">
                    <h4>+998 33 987 32 87</h4>
                    <p>Узбекистан, Ташкент, улица Алишера Навои</p>
                    <div class="sm">
                        <a href=""></a><a href=""></a><a href=""></a>
                    </div>
                </div>
                <div class="form_input">
                    <form action="">
                        <input type="text" placeholder="Ваша электронная почта *">
                        <input type="text" placeholder="Ваше полное имя *">
                        <input type="text" placeholder="Ваш номер телефона *">
                        <button type="submit">Отправить</button>
                    </form>
                </div>

            </div>

        </div>

    </section>




{% endblock content %}