* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  position: relative;
}

body .section1 {
  padding: 50px 0;
}

body .section1 .container .header1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 70px;
}

body .section1 .container .header1 .menu1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

body .section1 .container .header1 .menu1 ul {
  padding: 0 !important;
  margin-left: 30px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

body .section1 .container .header1 .menu1 ul li {
  list-style-type: none;
}

body .section1 .container .header1 .menu1 ul li a {
  color: white;
  font-family: "Gilroy";
  font-size: 20px;
  text-decoration: none !important;
}

body .section1 .container .header1 .menu1 ul li a::after {
  width: 0;
  content: "";
  display: block;
  height: 2px;
  background: #ffffff;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

body .section1 .container .header1 .menu1 ul li a:hover::after {
  width: 100%;
}

body .section1 .container .header1 .phone_menu {
  width: 130px;
  height: 40px;
  background: rgba(255, 255, 255, 0.075);
  border-radius: 10px;
  padding: 0 20px;
  display: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none !important;
}

body .section1 .container .header1 .phone_menu h5 {
  color: #ffffff;
  font-family: "Gilroy";
  text-transform: uppercase;
  font-size: 18px;
  margin-right: 10px;
}

body .section1 .container .header1 .phone_menu .menu_ico {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

body .section1 .container .header1 .phone_menu .menu_ico div {
  margin-top: 1px;
  margin-bottom: 1px;
  width: 20px;
  height: 4px;
  border-radius: 10px;
  background: #ffffff;
}

body .section1 .container .header1 .menu2 {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  top: 100px;
  left: 50%;
  margin-left: -200px;
}

body .section1 .container .header1 .menu2 a {
  text-decoration: none !important;
}

body .section1 .container .header1 .menu2 ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  margin-bottom: 0px;
  border-bottom: 5px black solid;
  width: 400px;
  background: rgba(255, 255, 255);
}

body .section1 .container .header1 .menu2 ul li {
  list-style-type: none;
}

body .section1 .container .header1 .menu2 ul li h5 {
  text-transform: uppercase;
  color: #33C1FF;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 18px;
}

@font-face {
  font-family: 'Rubik One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/rubikone/v12/0nkqC9H5Je0aiyQv-6PIbCTq.ttf) format('truetype');
}

.main_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 68px;
  -webkit-flex-wrap: wrap !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.main_text .main_h1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main_text .main_h1 h1 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 95px;
  background: -webkit-gradient(linear, left top, left bottom, from(#00FFA3), to(white));
  background: -o-linear-gradient(top, #00FFA3, white);
  background: linear-gradient(180deg, #00FFA3, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main_text .main_h1 h2 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #33C1FF;
  margin-bottom: 45px;
}

.main_text .main_h1 h3 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #FFFFFF;
  margin-bottom: 45px;
}

.main_text .main_h1 a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  font-family: Gilroy;
  width: 300px;
  height: 60px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.main_text .main_h1 a:hover {
  background: rgba(255, 255, 255);
  color: black;
}

.main_text .main_img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.agency_text {
  margin-bottom: 65px;
}

.agency_text h4 {
  font-size: 30px;
  font-family: Gilroy;
  color: #33C1FF;
}

.uslugi_tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.uslugi_tags .tags_text h4 {
  font-size: 30px;
  font-family: Gilroy;
  color: #ffffff;
  margin-bottom: 15px;
  text-align: center;
}

.uslugi_tags .tags_text .tags_line {
  width: 100%;
  height: 4px;
  background: #33C1FF;
}

.uslugi_tags .tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.uslugi_tags .tags .tag {
  margin: 5px;
  width: 200px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.uslugi_tags .tags .tag:hover {
  background: #ffffff;
  color: black;
}

.result {
  padding: 50px 0;
  background: #ffffff;
}

.result .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.result .container .result_text h2 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 33px;
  color: black;
}

.result .container .result_text p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #545454;
  margin-bottom: 50px;
}

.result .container .result_text a {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-decoration: none;
  width: 300px;
  height: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: black;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.result .container .result_text a:hover {
  color: white;
  background: #000;
}

.result .container .resul_img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.uslugi {
  padding: 50px 0;
}

.uslugi .container h3 {
  text-align: center;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: white;
  margin-bottom: 50px;
}

.uslugi .container .uslugi_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.uslugi .container .uslugi_div .usluga {
  padding: 10px 35px 20px 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 550px;
  width: 270px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  margin: 15px;
  color: white;
}

.uslugi .container .uslugi_div .usluga img {
  margin-bottom: 10px;
}

.uslugi .container .uslugi_div .usluga h4 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.uslugi .container .uslugi_div .usluga p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-weight: 400;
  font-size: 12px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-bottom: 35px;
  height: 145px;
}

.uslugi .container .uslugi_div .usluga a {
  width: 200px;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  text-decoration: none;
  background: #000;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  border-radius: 3px;
}

.uslugi .container .uslugi_div .usluga a:nth-of-type(1) {
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
}

.uslugi .container .uslugi_div .usluga a:nth-of-type(2) {
  background: rgba(255, 255, 255, 0.3);
}

@media (max-width: 600px) {
  .uslugi {
    padding: 30px 0;
  }

  .uslugi .container h3 {
    margin-bottom: 30px !important;
    font-size: 25px;
  }

  .result {
    padding: 30px 0 !important;
  }

  .result .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  .result .container .result_text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .result .container .result_text h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
  }

  .result .container .result_text p {
    font-size: 20px;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 30px;
  }

  .result .container .resul_img img {
    width: 230px;
    height: 250px;
  }

  .uslugi_tags .tags_text {
    margin-bottom: 15px;
  }

  .uslugi_tags .tags_text h4 {
    font-size: 25px;
  }

  .uslugi_tags .tags_text .tags_line {
    height: 2px;
    width: 50% !important;
    margin: auto;
  }

  .uslugi_tags .tags .tag {
    width: 150px;
    height: 40px;
    font-size: 13px;
  }

  .menu2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .menu1 {
    display: none !important;
  }

  .phone_menu {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  body .header1 {
    -webkit-justify-content: space-around !important;
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }

  .header1 {
    margin-bottom: 30px !important;
  }

  .main_text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    -webkit-flex-wrap: wrap !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }

  .main_text .main_h1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .main_text .main_h1 h1 {
    text-align: center;
    font-size: 55px;
    margin-bottom: 10px;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .main_text .main_h1 h2 {
    text-align: center;
    font-size: 23px;
    margin-bottom: 30px;
    height: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .main_text .main_h1 h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .main_text .main_h1 a {
    width: 250px;
    height: 50px;
    font-size: 20px;
  }

  .main_text .main_img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .main_text .main_img img {
    width: 300px;
    height: 300px;
  }

  .agency_text h4 {
    text-align: center;
    font-size: 23px !important;
  }

  .section1 {
    padding: 30px 0 !important;
  }
}